<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>MustHaveJSP</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>OracleDriver</param-name>
    <param-value>oracle.jdbc.OracleDriver</param-value>
  </context-param>
  <context-param>
    <param-name>OracleURL</param-name>
    <param-value>jdbc:oracle:thin:@localhost:1521:xe</param-value>
  </context-param>
  <context-param>
    <param-name>OralceId</param-name>
    <param-value>musthave</param-value>
  </context-param>
  <context-param>
    <param-name>OraclePwd</param-name>
    <param-value>1234</param-value>
  </context-param>
  <context-param>
    <param-name>POSTS_PER_PAGE</param-name>
    <param-value>10</param-value>
  </context-param>
  <context-param>
    <param-name>PAGES_PER_BLOCK</param-name>
    <param-value>5</param-value>
  </context-param>
  <servlet-mapping>
    <servlet-name>MVCBoardList</servlet-name>
    <url-pattern>/mvcboard/list.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MVCBoardList</servlet-name>
    <servlet-class>model2.mvcboard.ListController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MVCBoardWrite</servlet-name>
    <url-pattern>/mvcboard/write.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>MVCBoardWrite</servlet-name>
    <servlet-class>model2.mvcboard.WriteController</servlet-class>
    <multipart-config>
      <max-file-size>1048576</max-file-size>
      <max-request-size>10485760</max-request-size>
    </multipart-config>
  </servlet>
  <servlet>
    <description></description>
    <display-name>WriteController</display-name>
    <servlet-name>WriteController</servlet-name>
    <servlet-class>model2.mvcboard.WriteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WriteController</servlet-name>
    <url-pattern>/WriteController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewController</display-name>
    <servlet-name>ViewController</servlet-name>
    <servlet-class>model2.mvcboard.ViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewController</servlet-name>
    <url-pattern>/ViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DownLoadController</display-name>
    <servlet-name>DownLoadController</servlet-name>
    <servlet-class>model2.mvcboard.DownLoadController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownLoadController</servlet-name>
    <url-pattern>/DownLoadController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PassController</display-name>
    <servlet-name>PassController</servlet-name>
    <servlet-class>model2.mvcboard.PassController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PassController</servlet-name>
    <url-pattern>/PassController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditController</display-name>
    <servlet-name>EditController</servlet-name>
    <servlet-class>model2.mvcboard.EditController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditController</servlet-name>
    <url-pattern>/EditController</url-pattern>
  </servlet-mapping>
</web-app>